[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
mock = "*"

[packages]
fastapi = {extras = ["all"],version = "*"}
pyjwt = "*"
passlib = {extras = ["bcrypt"],version = "*"}
peewee = "*"
pytest = "*"

[requires]
python_version = "3.6"
